.bot-card-container {
    box-shadow: 0 0 0.1rem 0.005rem;
    background: rgb(202, 202, 202);
    border-radius: 0.1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    overflow: hidden;
    .head {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;        
        .info {
            height: 3rem;
            align-items: center;
            display: flex;
            width: 95%;
            padding: 0 0.5rem;
            .strategy {
                color: teal;
                font-weight: 500;
            }
        }
        .actions {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            mat-icon {
                color: rgb(85, 85, 85);
                cursor: pointer;
                margin: 0 0.5rem;
                transition: all 0.2s;
                &:hover {
                    color: teal
                }
            }
        }
    }
    .expanded {
        border-top: 1.5px solid gray;
        position: relative;
        .expanded-content {
            padding: 0.5rem;
            .sub-info {
                min-height: 2rem;
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .sub-info2 {
                min-height: 2rem;
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .transactions-container {
                resize: vertical;
                margin-top: 1rem;
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                box-shadow: 0 0 0.5rem 0.01rem;
                .transaction {
                    padding: 0.25rem 0.5rem;
                    border: 1px solid black;
                    border-bottom: none;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    &:last-child {
                        border-bottom: 1px solid black
                    }
                    .time,
                    .price,
                    .type,
                    .result {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .sl-close-icon {
                        position: absolute;
                        font-size: 0.75rem;
                    }
                }
            }
        }
        .footer {
            position: relative;
            width: 100%;
            background-color: rgb(82, 82, 82);
            height: 3rem;
            bottom: 0;
            box-shadow: 0 0 0.1rem 0.01rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            mat-icon {
                color: rgb(255, 88, 88);
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    color: pink
                }
            }
        }
    }
}