<div class="dialog-container">
    <mat-card>
        <mat-card-header><h1>Creating New Bot</h1></mat-card-header>
        <mat-card-content>
            <div class="content-condainer">
                <div class="section" [formGroup]='cbFb'>
                    <p>
                        <mat-form-field>
                            <mat-label>Pair: </mat-label>
                            <mat-select formControlName='pair'>
                                <mat-option value="ADAUSDT">ADA/USDT</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Start With: </mat-label>
                            <input formControlName='initAmount' step='1' type="number" matInput>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Trade Amount (n * equity) </mat-label>
                            <input formControlName='percentForEachTrade' step='0.01' type="number" matInput>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Leverage: </mat-label>
                            <input formControlName='leverage' step='1' type="number" matInput>
                          </mat-form-field>
                    </p>
                </div>
                <div class="strategies" [formGroup]='sFb'>
                        <mat-form-field>
                            <mat-label>Strategy: </mat-label>
                            <mat-select formControlName='strategy'>
                                <mat-option value='os-close'>Old strategy - closeEachDot</mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
                <div class="sltp" [formGroup]='sltpFB'>
                    <mat-form-field>
                        <mat-label>Stop Loss</mat-label>
                        <input formControlName='sl' step='0.001' type="number" matInput>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Take Profit</mat-label>
                        <input formControlName='tp' step='0.001' type="number" matInput>
                      </mat-form-field>
                </div>
                <!-- <div class="hist">
                    <p style='width: 15%; margin-right: 2rem;'>
                        <mat-checkbox #isHist labelPosition="before">Historical: </mat-checkbox>
                    </p>
                    <p style='width: 45%'>
                        <button [ngStyle]='{visibility: isHist.checked ? "visible" : "hidden"}' mat-mini-fab (click)="fileInput.click()">
                            <mat-icon>upload</mat-icon>
                        </button>
                        <input hidden (change)='handleFileInputChange($event)' #fileInput type="file" id="file">
                    </p>
                </div> -->
            </div>
        </mat-card-content>
        <div class="buttons">
            <!-- <button mat-raised-button color="primary" (click)="addBot()" [disabled]='!cbFb.valid || !sFb.valid || (isHist.checked && !histFileData)'>Add new Bot</button> -->
            <button mat-raised-button color="primary" (click)="addBot()" [disabled]='!cbFb.valid || !sFb.valid'>Add new Bot</button>
        </div>
    </mat-card>
</div>