<div class="dialog-container">
    <mat-card>
        <mat-card-header><h1>Creating New Bot</h1></mat-card-header>
        <mat-card-content>
            <div class="content-condainer" [formGroup]='cbFb'>
                <div class="section">
                    <p>
                        <mat-form-field>
                            <mat-label>Pair: </mat-label>
                            <mat-select formControlName='pair'>
                                <mat-option value="ADAUSDT">ADA/USDT</mat-option>
                                <mat-option value="LTCUSDT">LTC/USDT</mat-option>
                                <mat-option value="BTCUSDT" disabled>BTC/USDT</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Start With: </mat-label>
                            <input formControlName='initAmount' step='1' type="number" matInput>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Trade Amount (n * equity) </mat-label>
                            <input formControlName='percentForEachTrade' step='0.01' type="number" matInput>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Leverage: </mat-label>
                            <input formControlName='leverage' step='1' type="number" matInput>
                          </mat-form-field>
                    </p>
                </div>
                <div class="section">
                    <p>
                        <mat-checkbox formControlName='isSl' #sl labelPosition='before'>Stop Loss: </mat-checkbox>
                        <mat-form-field [ngClass]="{ invisible: !sl.checked }">
                            <mat-label>n * equity</mat-label>
                            <input formControlName='sl' step='1' type="number" matInput>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-checkbox formControlName='isTsl' #tsl labelPosition='before'>Trailing SL: </mat-checkbox>
                        <mat-form-field [ngClass]="{ invisible: !tsl.checked }">
                            <mat-label>n * equity</mat-label>
                            <input formControlName='tsl' step='1' type="number" matInput>
                        </mat-form-field>
                    </p>
                </div>
                <div class="section">
                    <p>
                        <mat-checkbox formControlName='a1' labelPosition='before'>Alert 1</mat-checkbox>
                        <mat-checkbox formControlName='a2' labelPosition='before'>Alert 2</mat-checkbox>
                        <mat-checkbox formControlName='a3' labelPosition='before'>Alert 3</mat-checkbox>
                        <mat-checkbox formControlName='a4' labelPosition='before'>Alert 4</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox formControlName='a5' labelPosition='before'>Alert 5</mat-checkbox>
                        <mat-checkbox formControlName='a6' labelPosition='before'>Alert 6</mat-checkbox>
                        <mat-checkbox formControlName='a7' labelPosition='before'>Alert 7</mat-checkbox>
                        <mat-checkbox formControlName='a8' labelPosition='before'>Alert 8</mat-checkbox>
                    </p>
                </div>
            </div>
        </mat-card-content>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="addBot()" [disabled]='!cbFb.valid'>Add new Bot</button>
        </div>
    </mat-card>
</div>