.dialog-container {
    mat-card-content {
        min-width: 30rem;
        min-height: 30rem;
        .content-condainer {
            display: flex;
            flex-direction: column;
            .section {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    mat-form-field {
                        width: 45%;
                    }
                }
                .tsl {
                    span {
                        width: 45%;
                        display: flex;
                        justify-content: space-between;
                        mat-form-field {
                            width: 45%;
                        }
                    }

                }
            }
            .strategies {
                mat-form-field {
                    width: 100%;
                }
            }
            .yxbd {
                margin: 2rem 0;
                .sub {
                    display: flex;
                    justify-content: space-between;
                    height: 3rem;
                    align-items: center;
                    p {
                        width: 100%
                    }
                }
            }
            .alertSection {
                display: flex;
                justify-content: space-evenly;
                .alertSubSection {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    .alert {
                        display: flex;
                        margin: 0.25rem 0;
                        mat-select {
                            border-bottom: 1px solid gray;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.invisible {
   visibility: hidden;
}