.dialog-container {
    mat-card-content {
        min-width: 30rem;
        min-height: 30rem;
        .content-condainer {
            display: flex;
            flex-direction: column;
            .section {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    mat-form-field {
                        width: 45%;
                    }
                }
                .tsl {
                    span {
                        width: 45%;
                        display: flex;
                        justify-content: space-between;
                        mat-form-field {
                            width: 45%;
                        }
                    }

                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.invisible {
   visibility: hidden;
}